/* Felicia Zhang
My personal website */

/** { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}
*/

body, html {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


/* nav bar */
.myNav, .myNav ul li a:link, a:visited, a:active {
  background-color: rgba(238, 219, 205, 0.8);
  color: #494E6B;
  text-decoration-line: none;
}

.myNav li a:hover, .nav>li>a:hover {
  background-color: rgba(73, 78, 107, 0.8);
  color: #EDDBCD;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: rgba(73, 78, 107, 0.8);
  color: #EDDBCD;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #494E6B;
}

.nav img {
  width: 20%;
}


/* home screen */
.outer {
  display: table;
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(210, 210, 210, 0.85), rgba(210, 210, 210, 0.85)), url('./img/northeimBG.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

#home img {
  width: 30%;
  height: auto;
  margin: auto; 
  display: block;
}

h1 {
  color: #6B495F;
  font-family: 'Playfair display', serif;
  font-size: 56px;
}

h2 {
  color: #494E6B;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  text-transform: lowercase;
  text-align: center;
}

/* about page */
.bgA {
  background-image: linear-gradient(rgba(210, 210, 210, 0.85), rgba(210, 210, 210, 0.85)), url("./img/northeimBG.jpg");
  background-attachment: fixed;
  min-height: 100%; 
  background-position: center;
  background-size: cover;
}

p, li, a:link, a:visited {
  color: #494E6B;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  text-align: justify;
}

a:link {
  text-decoration-line: underline;
}

#about img {
  margin-top: 2em;
  width: 100%;
  height: auto;
  border: 0.5em solid #494E6B;
}


/* skills/projects page */
.bgP {
  background-image: linear-gradient(rgba(210, 210, 210, 0.85), rgba(210, 210, 210, 0.85)), url("./img/westfordBG.jpg");
  background-attachment: fixed;
  min-height: 100%; 
  background-position: center;
  background-size: cover;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #6B495F;
}

.item { 
  vertical-align: middle;
  overflow: hidden;
}

.item img {
  width: 12%;
  max-width: 50px;
  margin-right: 5%;
  padding-bottom: 10px;
  float: left;
  display: inline-block;
}

.item p {
  margin: 0;
  font-size: 22px;
  display: inline-block;
}


/* art and design page */
.bgAD {
  background-image: linear-gradient(rgba(210, 210, 210, 0.85), rgba(210, 210, 210, 0.85)), url("./img/bostonBG.jpg");
  background-attachment: fixed;
  min-height: 100%; 
  background-position: center;
  background-size: cover;
}

.thumbnail {
  background-color: rgba(237, 219, 205, 0.8);
}

.thumbnail img {
  height: 25%;
}

.caption p, .thumbnail a:link {
  text-decoration-line: none;
  text-align: left;
  font-size: 14px;
}