/* Felicia Zhang
My personal website */

body,
html {
  height: 100%;
}

/* nav bar */
.myNav,
.myNav ul li a:link,
a:visited {
  background-color: rgba(238, 219, 205, 0.8);
  color: #494e6b;
  text-decoration-line: none;
}

.myNav ul li a:hover,
.myNav .dropdown-menu > li > a:hover,
.myNav ul li a:active {
  background-color: rgba(73, 78, 107, 0.8);
  color: #eddbcd;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: rgba(73, 78, 107, 0.8);
  color: #eddbcd;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #494e6b;
}

.nav img {
  width: 20%;
}

/* home screen */
.outer {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #eddbcd;
}

.middle {
  margin: auto;
}

#home img {
  width: 30%;
  height: auto;
  margin: auto;
  display: block;
}

h1 {
  color: #6b495f;
  font-family: "Playfair display", serif;
  font-size: 56px;
}

h2 {
  color: #494e6b;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  text-transform: lowercase;
  text-align: center;
}

/* about page */
.bg {
  background-color: #eddbcd;
  height: 100%;
}

p,
li,
a:link,
a:visited {
  color: #494e6b;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  text-align: justify;
}

a:link {
  text-decoration-line: underline;
}

#about img {
  margin-top: 2em;
  width: 100%;
  height: auto;
  border: 0.5em solid #494e6b;
}

/* skills/projects page */
h3 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: #6b495f;
}

.item {
  vertical-align: middle;
  overflow: hidden;
}

.item img {
  width: 12%;
  max-width: 50px;
  margin-right: 5%;
  padding-bottom: 10px;
  float: left;
  display: inline-block;
}

.item p {
  margin: 0;
  font-size: 22px;
  display: inline-block;
}

.oddProject {
  background-color: rgba(73, 78, 107, 0.8);
}

.oddProject img,
.evenProject img {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.oddProject h4,
h5,
h6 {
  color: #eddbcd;
}

h4,
h5 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  text-align: justify;
}

.evenProject {
  background-color: rgba(237, 219, 205, 0.8);
}

.evenProject h4,
.evenProject h5,
.evenProject h6 {
  color: #494e6b;
}

/* art and design page */
.thumbnail {
  background-color: rgba(237, 219, 205, 0.8);
}

.thumbnail img {
  height: 25%;
}

.caption p,
.thumbnail a:link {
  text-decoration-line: none;
  text-align: left;
  font-size: 14px;
}
